---
import AvailableClient from "../components/Partials/AvailableClient.astro";
import Layout from "../layouts/Layout.astro";
import FunctionsItem from "../components/FunctionsItem.astro";
import Hero from '../components/Hero.astro';
const features = [
    {
        title: "Avatar Generation Api",
        description: "Use this api route to get random and unique avatar for api. Use it for default profile pic or profile placeholder for any website ,app or anywhere. You don't need any library to generate avatar , just a simple http request.",
        docs: ""
    },
    {
        title: "QR Generator Api",
        description: "Generate Qr code with a single api request. Easy to use with any programming language and don't required you to install any library.",
        docs: ""
    },
    {
        title: "Fake Data Api",
        description: " Generate fake data for you api or app development process. Support almost every data types including name phone credit card and others more.",
        docs: "",
    }
]
---
<Layout title="Media Api">
    <Hero title="General Purpose APi for development needs." description="These are those api which you will surely need in every project either for backend or app or any development."
    link="#general-functions"
    />
    <section class="bg-white w-100" id="general-functions">
        <div class="container mx-auto">
            <div class="grid grid-cols-3 gap-10 grid-flow-dense item-center">
                {features.map((item) => (
                        <FunctionsItem title={item.title} description={item.description}/>
                ))}
            </div>
        </div>
    </section>

</Layout>

