---
import AvailableClient from "../components/Partials/AvailableClient.astro";
import Layout from "../layouts/Layout.astro";
import FunctionsItem from "../components/FunctionsItem.astro";
import Hero from '../components/Hero.astro';
const features = [
    {
        title: "Avatar Generation Api",
        description: "Use this api route to get random and unique avatar for api. Use it for default profile pic or profile placeholder for any website ,app or anywhere. You don't need any library to generate avatar , just a simple http request.",
        docs: "",
        image: "/images/NewAvatarGenerationApi.jpg"
    },
    {
        title: "QR Generator Api",
        description: "Generate Qr code with a single api request. Easy to use with any programming language and don't required you to install any library.",
        docs: "",
        image: "/images/Qr_code-api.png"
    },
    {
        title: "Fake Data Api",
        description: " Generate fake data for you api or app development process. Support almost every data types including name phone credit card and others more.",
        docs: "",
        image: "/images/Fake_dataApi.jpg"
    }
]
---
<Layout title="Media Api">
    <Hero title="General Purpose APi for development needs." description="These are those api which you will surely need in every project either for backend or app or any development."
    link="#general-functions"
    />
    <!-- <section class="bg-[#061404]  w-100 py-48" id="general-functions">
        <div class="container mx-auto">
            <div class="title-wrapper mb-36 text-center">
                <h2 class="tracking-tight sm:text-4xl mt-2 mb-2 leading-none text-3xl font-bold text-[#2A74DC]">General Api</h2>
                <h3 class="text-2xl text-white">Upload, Process and Store</h3>
            </div>
            <div class="grid grid-cols-3 gap-10 grid-flow-dense item-center px-7 py-7">
                {features.map((item) => (
                        <FunctionsItem title={item.title} description={item.description} image={item.image}/>
                ))}
            </div>
        </div>
    </section> -->

    <section class="text-gray-600 font-body">
        <div class="title-wrapper  mb-24 pt-11 text-center">
            <h2 class="tracking-tight sm:text-4xl mt-2 mb-2 leading-none text-3xl font-bold text-[#2A74DC]">General Api</h2>
            <h3 class="text-2xl text-black">Upload, Process and Store</h3>
        </div>
        <div class="container px-5 py-24 mx-auto">
          <div class="flex flex-wrap m-0">
           <div class="three-cont flex flex-wrap m-0 px-5  mx-auto">
     
             <div class="p-4 md:w-96">
               <div class="h-full rounded-xl shadow-cla-blue bg-gradient-to-r from-indigo-50 to-blue-50 overflow-hidden">
                 <img class="lg:h-48 md:h-36 w-full object-cover object-center scale-110 transition-all duration-400 hover:scale-100" src="https://media.istockphoto.com/id/534208748/photo/customer-or-employees-care-concept.jpg?s=612x612&w=0&k=20&c=FGVWqxagMQmhroI6B6PC2qX447p4hXaJNDHuadEtjmY=">
                 <div class="p-6 ">
                  <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">CATEGORY-1</h2>
                  <h1 class="title-font text-lg font-medium text-gray-600 mb-3">Avatar Generation Api</h1>
                   <p class="leading-relaxed mb-3">Use this api route to get random and unique avatar for api. Use it for default profile pic or profile placeholder for any website, app or anywhere. You don't need any library to generate avatar, just a simple http request.</p>
                   <div class="flex items-center flex-wrap ">
                    <a href="/machine-learning-api" class="text-white bg-[#3972EA] hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-2 text-center inline-flex items-center  dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                      Read Docs
                      <svg class="-mr-1 ml-2 h-4 w-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                  </a>                    </div>
                 </div>
               </div>
             </div>
      
             <div class="p-4 md:w-96">
               <div class="h-full rounded-xl shadow-cla-blue bg-gradient-to-r from-indigo-50 to-blue-50 overflow-hidden">
                 <img class="lg:h-48 md:h-36 w-full object-cover object-center scale-110 transition-all duration-400 hover:scale-100" src="https://i0.wp.com/www.thestartupfounder.com/wp-content/uploads/2022/05/textanalysisdeep-e1651684633132.jpg?w=612&ssl=1">
                 <div class="p-6 h-80 flex flex-col justify-between">
                  <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">CATEGORY-2</h2>
                  <h1 class="title-font text-lg font-medium text-gray-600 mb-3">QR Generator Api</h1>
                   <p class="leading-relaxed mb-3">Generate Qr code with a single api request. Easy to use with any programming language and don't required you to install any library.</p>
                   <div class="flex items-center flex-wrap ">
                    <a href="/machine-learning-api" class="text-white bg-[#3972EA] hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-2 text-center inline-flex items-center  dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                      Read Docs
                      <svg class="-mr-1 ml-2 h-4 w-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                  </a>                    </div>
                 </div>
               </div>
             </div> 
      
             <div class="p-4 md:w-96">
               <div class="h-full rounded-xl shadow-cla-blue bg-gradient-to-r from-indigo-50 to-blue-50 overflow-hidden">
                 <img class="lg:h-48 md:h-36 w-full object-cover object-center scale-110 transition-all duration-400 hover:scale-100" src="https://monkeylearn.com/static/951a3027fb10d50b500e2697448a5d18/4394e/Natural_Language_Processing-APIs__SaaS__Open-Source-Thumbnail%402x.webp">
                 <div class="p-6 h-80 flex flex-col justify-between">
                  <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">CATEGORY-3</h2>
                  <h1 class="title-font text-lg font-medium text-gray-600 mb-3">Fake Data Api</h1>
                   <p class="leading-relaxed mb-3"> Generate fake data for you api or app development process. Support almost every data types including name phone credit card and others more.</p>
                   <div class="flex items-center flex-wrap ">
                    <a href="/machine-learning-api" class="text-white bg-[#3972EA] hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-2 text-center inline-flex items-center  dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                      Read Docs
                      <svg class="-mr-1 ml-2 h-4 w-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                  </a>                    </div>
                 </div>
               </div>
             </div>
           </div>
            
          </div>
        </div>
      </section>
     </Layout>
      
