---
import Layout from '../layouts/Layout.astro';
import FunctionsItem from "../components/FunctionsItem.astro";
import Hero from '../components/Hero.astro';
const features = [
    {
        title: "Object Detection Api",
        description: " Object Detection is part of Machine Learning , in which we use different algorithm to detect object in\n" +
            "              Image, Or Video files. Our algorithm can detect around 10K+ different objects.",
        docs: "",
        image: "/images/New_objectDetectionApi.png"
        
    },
    {
        title: "Text Sentiment analysis Api",
        description: " Text Sentiment allow you to predict the sentiment of text either data is POSITIVE , NEGATIVE ,\n" +
            "              NEUTRAL. You can use this result to predict user reviews and many other task on you server side.",
        docs: "",
        image: "/images/newSentiment-Analysis-API.webp"
    },
    {
        title: "Language Processing Api",
        description: " Language Processing api is also Natural Language Processing Api allow you to extract meaningful part\n" +
            "              of human language by the means of NLP algorithm.",
        docs: "",
        image: "/images/language_processing_api.webp"
    },
    {
        title: "Facial Sentiment Api",
        description: " Face Sentiment api allow you to detect sentiment of person within the image. Along with sentiment\n" +
            "              other characteristics like Age , Face Coordinate , Gender , Emotion , Race",
        docs: "",
        image: "/images/New_Facial-Recognition.jpg"
    },
    {
        title: "Text Recognition Api",
        description: "Text Recognition api allow you to extract text from image , video or any visual documents. Our Api are\n" +
            "              trained to detect more than 100 different languages and many scripts.",
        docs: "",
        image: "/images/New_text_recognition.png"
    }
]
---
<Layout title="Media Api">
    <Hero title="Machine Learning Task Made Easy With Simple Api."
          link="#machine-learning-functions"
          description=" with machine learning api you can do every ml task with just a simple http request and with doing any computation"/>
    <section class="bg-[#061404]  w-100 py-48" id="machine-learning-api">
        <div class="container mx-auto">
            <div class="title-wrapper mb-36 text-center">
                <h2 class="tracking-tight sm:text-4xl mt-2 mb-2 leading-none text-3xl font-bold text-[#2A74DC]">Machine Learning Api</h2>
                <h3 class="text-2xl text-white">Upload, Process and Store</h3>
            </div>
            <div class="grid grid-cols-3 gap-10 grid-flow-dense item-center px-5 py-5">
                {features.map((item) => (
                        <FunctionsItem title={item.title} description={item.description} image={item.image}/>
                ))}
            </div>
        </div>
    </section>

</Layout>

