---
import AvailableClient from "../components/Partials/AvailableClient.astro";
import Layout from "../layouts/Layout.astro";
import FunctionsItem from "../components/FunctionsItem.astro";
import Hero from '../components/Hero.astro';
import mediaBg from '../../public/images/media-files-bg.jpg'
const features=[
    {
        title:"Image Processing Api!",
        description:"Image Conversion through API or on the fly with web request. Almost all type of image manipulation like crop, resize, blur, sharp and many more can be done with just one request.",
        docs:"",
        image:"/images/imageProcessing_api.jpg"
    },
    {
        title: "Thumbnail Generator Api",
        description:"Generate Thumbnail for Video file, PDF File and Image File with simple API Request. No Restriction or Charges.",
        docs:"",
        image:"/images/New_thumbnails-jpg.avif"
    },
    {
        title: "File Optimizer Api",
        description:"File optimizer function is used to optimize files for various mime type like Image,Pdf. Optimizing video file is coming Soon...",
        docs:"",
        image: "/images/newImage_optimization.jpg"
    },
    {
        title:  "Pdf to Image Api",
        description:"Convert any pdf pdf to image file with just a single APi request and apply various image processing to it.",
        docs:"",
        image: "/images/newPdftoimageapi.jpg"
    }
]

---

<!-- <Layout title="Media Api">
    <Hero title="Process Your media file on the fly"
          image="/images/oyyimediaapi.png"
          description="Media processing apis for image conversion, media optimization , storing and many more with a simple http requests."/>
    <section class="bg-[#061404]  w-100 py-48">
        <div class="container mx-auto">
            <div class="title-wrapper mb-36 text-center">
                <h2 class="tracking-tight sm:text-4xl mt-2 mb-2 leading-none text-3xl font-bold text-[#2A74DC]">Media Processing Api</h2>
                <h3 class="text-2xl text-white">Upload, Process and Store</h3>
            </div>
            <div class="grid lg:grid-cols-4 sm:grid-cols-2 gap-10 grid-flow-dense item-center px-5 py-5">
                {features.map((item) => (
                        <FunctionsItem title={item.title} description={item.description} image={item.image}/>
                ))}
            </div>
        </div>
    </section>
</Layout> -->
<!-- component -->


<!-- component -->


<!-- ====== Cards Section Start -->
<Layout title="Media Api font-body">
   <Hero title="Process Your media file on the fly"
         image= {mediaBg}
         description="Media processing apis for image conversion, media optimization, storing and many more with a simple http requests"/>
       <div class="container mx-auto">
           <div class="title-wrapperbg-[#EFF4FA] mb-24 pt-11 text-center">
               <h2 class="tracking-tight sm:text-4xl mt-2 mb-2 leading-none text-3xl font-bold text-[#2A74DC]">Media Processing Api</h2>
               <h3 class="text-2xl text-black">Upload, Process and Store</h3>
           </div>
       </div>
<!-- component -->
<section class="bg-white text-gray-600 font-body px-14">
   <div class="container px-5 py-24 shadow-gray-500 mx-auto">
     <div class="flex flex-nowrap m-0">
       <div class="p-4 md:w-96 ">
         <div class="h-full rounded-xl shadow-cla-blue bg-gradient-to-r from-indigo-50 to-blue-50 overflow-hidden">
           <img class="lg:h-48 md:h-36 w-full object-cover object-center scale-110 transition-all duration-400 hover:scale-100" src="https://geekflare.com/wp-content/uploads/2022/06/Image-Processing-and-Optimization-APIs.png">
           <div class="p-6 h-80 flex flex-col justify-between">
            <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">CATEGORY-1</h2>
            <h1 class="title-font text-lg font-medium text-gray-600 mb-3">Image Processing Api!</h1>
             <p class="leading-relaxed mb-3">Image Conversion through API or on the fly with web request. Almost all type of image manipulation like crop, resize, blur, sharp and many more can be done with just one request.</p>
             <div class="flex items-center flex-wrap ">
              <a href="/machine-learning-api" class="text-white bg-[#3972EA] hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-2 text-center inline-flex items-center  dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Read Docs
                <svg class="-mr-1 ml-2 h-4 w-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </a>
             </div>
           </div>
         </div>
       </div>

       <div class="p-4 md:w-96 ">
         <div class="h-full rounded-xl shadow-cla-blue bg-gradient-to-r from-indigo-50 to-blue-50 overflow-hidden">
           <img class="lg:h-48 md:h-36 w-full object-cover object-center scale-110 transition-all duration-400 hover:scale-100" src="https://www.d-id.com/wp-content/uploads/2023/01/API-for-blog.png">
           <div class="p-6 h-80 flex flex-col justify-between">
            <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">CATEGORY-2</h2>
            <h1 class="title-font text-lg font-medium text-gray-600 mb-3">Thumbnail Generator Api</h1>
             <p class="leading-relaxed mb-3">Generate Thumbnail for Video file, PDF File and Image File with simple API Request. No Restriction or Charges.</p>
             <div class="flex items-center flex-wrap ">
              <a href="/machine-learning-api" class="text-white bg-[#3972EA] hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-2 text-center inline-flex items-center  dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Read Docs
                <svg class="-mr-1 ml-2 h-4 w-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </a>             </div>
           </div>
         </div>
       </div> 

       <div class="p-4 md:w-96">
         <div class="h-full rounded-xl shadow-cla-blue bg-gradient-to-r from-indigo-50 to-blue-50 overflow-hidden">
           <img class="lg:h-48 md:h-36 w-full object-cover object-center scale-110 transition-all duration-400 hover:scale-100" src="https://blog.tinify.com/wp-content/uploads/2022/01/Developer-API_Tekengebied-1-1-1536x810.png">
           <div class="p-6 h-80 flex flex-col justify-between">
            <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">CATEGORY-3</h2>
            <h1 class="title-font text-lg font-medium text-gray-600 mb-3">File Optimizer Api</h1>
             <p class="leading-relaxed mb-3">File optimizer function is used to optimize files for various mime type like Image,Pdf. Optimizing video file is coming Soon...</p>
             <div class="flex items-center flex-wrap ">
              <a href="/machine-learning-api" class="text-white bg-[#3972EA] hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-2 text-center inline-flex items-center  dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Read Docs
                <svg class="-mr-1 ml-2 h-4 w-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </a>             </div>
           </div>
         </div>
       </div>

       <div class="p-4 md:w-96">
         <div class="h-full rounded-xl shadow-cla-blue bg-gradient-to-r from-indigo-50 to-blue-50 overflow-hidden">
           <img class="lg:h-48 md:h-36 w-full object-cover object-center scale-110 transition-all duration-400 hover:scale-100" src="https://www.aiseesoft.com/images/pdf-converter-ultimate/how-to-convert-pdf-to-image/how-to-convert-pdf-to-image.jpg">
           <div class="p-6 h-80 flex flex-col justify-between">
            <div>

              <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">CATEGORY-4</h2>
            <h1 class="title-font text-lg font-medium text-gray-600 mb-3">Pdf to Image Api</h1>
             <p class="leading-relaxed mb-3">Convert any pdf pdf to image file with just a single APi request and apply various image processing to it.</p>
             

            </div>
            <div class="flex items-center flex-wrap ">
              <a href="/machine-learning-api" class="text-white bg-[#3972EA] hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-2 text-center inline-flex items-center  dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Read Docs
                <svg class="-mr-1 ml-2 h-4 w-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </a>             </div>
           </div>
         </div>
       </div>

     </div>
   </div>
 </section>
</Layout>
<!-- ====== Cards Section End -->
