---
import AvailableClient from "../components/Partials/AvailableClient.astro";
import Layout from "../layouts/Layout.astro";
import FunctionsItem from "../components/FunctionsItem.astro";
import Hero from '../components/Hero.astro';
const features=[
    {
        title:"Image Processing Api!",
        description:"Image Conversion through API or on the fly with web request. Almost all type of image manipulation like crop, resize, blur, sharp and many more can be done with just one request.",
        docs:"",
        image:"/images/imageprocessing.png"
    },
    {
        title: "Thumbnail Generator Api",
        description:"Generate Thumbnail for Video file, PDF File and Image File with simple API Request. No Restriction or Charges.",
        docs:"",
        image:"/images/imageprocessing.png"
    },
    {
        title: "File Optimizer Api",
        description:"File optimizer function is used to optimize files for various mime type like Image,Pdf. Optimizing video file is coming Soon...",
        docs:"",
        image: "/images/imageprocessing.png"
    },
    {
        title:  "Pdf to Image Api",
        description:"Convert any pdf pdf to image file with just a single APi request and apply various image processing to it.",
        docs:"",
        image: "/images/imageprocessing.png"
    }
]

---

<Layout title="Media Api">
    <Hero title="Process Your media file on the fly"
          image="/images/mediaapi.svg"
          description="Media processing apis for image conversion, media optimization , storing and many more with a simple http requests."/>
    <section class="bg-white w-100">
        <div class="container mx-auto">
            <div class="grid grid-cols-3 gap-10 grid-flow-dense item-center">
                {features.map((item) => (
                        <FunctionsItem title={item.title} description={item.description} image={item.image}/>
                ))}
            </div>
        </div>
    </section>

</Layout>