---
import AvailableClient from "../components/Partials/AvailableClient.astro";
import Layout from "../layouts/Layout.astro";
import FunctionsItem from "../components/FunctionsItem.astro";
import Hero from '../components/Hero.astro';
const features=[
    {
        title:"Image Processing Api!",
        description:"Image Conversion through API or on the fly with web request. Almost all type of image manipulation like crop, resize, blur, sharp and many more can be done with just one request.",
        docs:"",
        image:"/images/imageprocessing.png"
    },
    {
        title: "Thumbnail Generator Api",
        description:"Generate Thumbnail for Video file, PDF File and Image File with simple API Request. No Restriction or Charges.",
        docs:"",
        image:"/images/imageprocessing.png"
    },
    {
        title: "File Optimizer Api",
        description:"File optimizer function is used to optimize files for various mime type like Image,Pdf. Optimizing video file is coming Soon...",
        docs:"",
        image: "/images/imageprocessing.png"
    },
    {
        title:  "Pdf to Image Api",
        description:"Convert any pdf pdf to image file with just a single APi request and apply various image processing to it.",
        docs:"",
        image: "/images/imageprocessing.png"
    }
]

---

<Layout title="Media Api">
    <Hero title="Process Your media file on the fly"
          image="/images/oyyimediaapi.png"
          description="Media processing apis for image conversion, media optimization , storing and many more with a simple http requests."/>
    <section class="bg-[#061404]  w-100 py-48">
        <div class="container mx-auto">
            <div class="title-wrapper mb-36 text-center">
                <h2 class="tracking-tight sm:text-4xl mt-2 mb-2 leading-none text-3xl font-bold text-[#2A74DC]">Media Processing Api</h2>
                <h3 class="text-2xl text-white">Upload, Process and Store</h3>
            </div>
            <div class="grid lg:grid-cols-4 sm:grid-cols-2 gap-10 grid-flow-dense item-center">
                {features.map((item) => (
                        <FunctionsItem title={item.title} description={item.description} image={item.image}/>
                ))}
            </div>
        </div>
    </section>

</Layout>