<section>
    <ul class="list-inline my-5 small">
        <li class="list-inline-item fw-bolder">Available For:</li>
        <li class="list-inline-item"><img class="mx-2" src="/images/icon/python-logo.png" width="32" height="32" alt="media processing api for python">Python</li>
        <li class="list-inline-item"><img class="mx-2" src="/images/icon/java.png" width="32" height="32" alt="media processing api for java">Java</li>
        <li class="list-inline-item"><img class="mx-2" src="/images/icon/js-logo.png" width="32" height="32" alt="media processing api for javascript">Javascript</li>
        <li class="list-inline-item"><img class="mx-2" src="/images/icon/php-logo.png" width="32" height="32" alt="media processing api for php">Php</li>
        <li class="list-inline-item"><img class="mx-2" src="/images/icon/http.png" width="32" height="32" alt="media processing api any programming language">Any http Lib.</li>
    </ul>
</section>
