---
const {question, answer} = Astro.props
---
<div class="border-2 border-gray-100 rounded-lg dark:border-gray-700" x-data="{ open: false }">
    <button class="flex items-center justify-between w-full p-8" x-on:click="open = !open">
        <h1 class="font-semibold text-gray-400 dark:text-white">{question}</h1>
        <span class="text-gray-400 bg-gray-200 rounded-full" x-show="open">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24"
                             stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 12H6"/>
                        </svg>
                    </span>
        <span class="text-white bg-[#2A74DC] rounded-full" x-show="!open">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24"
                             stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M12 6v6m0 0v6m0-6h6m-6 0H6"/>
                        </svg>
                    </span>
    </button>
    <hr class="border-gray-200 dark:border-gray-700">
    <template x-if="open">
        <p class="p-8 text-sm text-gray-500 dark:text-gray-300" >
            {answer}
        </p>
    </template>
</div>