---
import ApiCard from "./Partials/ApiCard.astro";
---

<section class="bg-[#F0F5F9] border-top-1 py-48 flex flex-col justify-between" id="functions">
    <div class="title-wrapper mb-36 text-center">
        <h2 class="text-2xl font-body font-normal text-center px-py-16 text-[#3E7DFF] lg:text-3xl dark:text-white">Multipurpose Apis</h2>
        <h3 class="text-3xl font-body font-bold text-[#080321]">We have free apis for almost every development needs.</h3>
    </div>
    <div class="flex font-body px-12 gap-10 relative justify-center align-middle">
      <ApiCard title="Media APIs" description="Media Apis for Image, Video, Pdf Manipulation or other related tasks and many more."
      image="/images/media Api.jpg" link="/media-api"/>
<ApiCard title="Machine Learning APIs"
      description="ML Api for facial recognition , text classification , sentiment analysis and many more."
      image="/images/machine learning api.jpg" link="/machine-learning-api"/>
      <ApiCard title="General APIs"
               description="General api for simple task that dont need any heavy dusty computation and are free to use."
               image="/images/General Api.jpg" link="/general-api"/>
      <ApiCard title="Upcoming APIs"
               description="Apart from above mentioned apis there are lots useful apis are on the way"
               image="/images/upcoming api.webp"/>
    </div>

</section>
    

