---
import ApiCard from "./Partials/ApiCard.astro";
---
<section class="section  position-relative py-5" id="apis">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12 col-lg-10"><h2 class="h1 fw-light mb-4">We are <span class="fw-bold">determined</span>provide
        development needs</h2>
        <p class="lead">We have free apis for almost every development needs.</p></div>
    </div>
    <div class="row align-content-around">
      <ApiCard title="Media APIs" description="Media Apis for Image,Video,Pdf Manipulation or other related tasks."
               image="/images/mediaimg.jpg" link="/media-api"/>
      <ApiCard title="Machine Learning APIs"
               description="ML Api for facial recognition , text classification , sentiment analysis and many more."
               image="/images/robot.jpg" link="/machine-learning-api"/>
    </div>
    <div class="row mt-5">
      <ApiCard title="General APIs"
               description="General api for simple task that dont need any heavy dusty computation and are free to use."
               image="/images/data.jpg" link="/general-api"/>
      <ApiCard title="Upcoming APIs"
               description="Apart from above mentioned apis there are lots useful apis are on the way"
               image="/images/databases.jpg"/>
    </div>
  </div>
</section>


