---
import ApiCard from "./Partials/ApiCard.astro";
---

<section class="bg-[#061404] border-top-1 py-48" id="functions">
    <div class="title-wrapper mb-36 text-center">
        <h2 class="tracking-tight sm:text-4xl mt-2 mb-2 leading-none text-3xl font-bold text-white">Multipurpose Apis</h2>
        <h3 class="text-2xl text-[#909090]">We have free apis for almost every development needs.</h3>
    </div>
    <div class="flex flex-wrap gap-10 relative justify-center align-middle">
      <ApiCard title="Media APIs" description="Media Apis for Image,Video,Pdf Manipulation or other related tasks."
      image="/images/mediaimg.jpg" link="/media-api"/>
<ApiCard title="Machine Learning APIs"
      description="ML Api for facial recognition , text classification , sentiment analysis and many more."
      image="/images/robot.jpg" link="/machine-learning-api"/>
      <ApiCard title="General APIs"
               description="General api for simple task that dont need any heavy dusty computation and are free to use."
               image="/images/data.jpg" link="/general-api"/>
      <ApiCard title="Upcoming APIs"
               description="Apart from above mentioned apis there are lots useful apis are on the way"
               image="/images/databases.jpg"/>
    </div>
</section>


