---
import FaqItem from "../components/Partials/FaqItem.astro";
---
<section class="bg-[#F0F5F9]  z-10 py-24 dark:bg-gray-700">
    <div class="container max-w-4xl px-6 py-10 mx-auto">
        <h2 class="text-2xl font-body font-bold text-center pt-24 text-[#3E7DFF] lg:text-3xl dark:text-white">FAQ</h2>
        <h1 class="text-2xl font-bold font-body  text-center text-[#080321] lg:text-3xl dark:text-white">Frequently Asked
            Questions</h1>

        <div class="mt-12 space-y-8">
            <FaqItem question="What the pricing of these services?"
                     answer="Almost every service is free and will meet all your requirements and in case you need more reources you can upgrade the plan"/>
            <FaqItem question="How to report bugs?"
                     answer="You can report bugs directly by sending mail to blackhat9118@gmail.com or reaching out to our lead developer at github.com/coder9118"/>
            <FaqItem question="Is this services reliable?"
                     answer="Yes our services are reliable and backed by mutiple hosting providers and our development need fixes it on daily basis"/>
        </div>
    </div>
</section>