---
import FeatureCard from "./FeatureCard.astro";
---
<section class="bg-white dark:bg-zinc-900 py-24 sm:py-32" id="features">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-2xl lg:text-center">
            <h2 class="text-base font-semibold leading-7 text-primary">Create faster</h2>
            <p class="mt-2 text-3xl font-bold tracking-tight sm:text-4xl">No worry cloud functions features</p>
            <p class="mt-6 text-lg leading-8 text-gray-600">We have created functions with keeping various things in mind and problem faced by developer with other cloud functions providers</p>
        
        </div>
        <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-4xl">
            <dl class="grid max-w-xl grid-cols-1 gap-y-10 gap-x-8 lg:max-w-none lg:grid-cols-2 lg:gap-y-16">
                <FeatureCard title="Simple to Use"
                             description=" Our API are simple to use with any programming language with network Library."
                             icon="https://img.icons8.com/ios/50/374151/happy-cloud.png"/>
                <FeatureCard title="Cost Effective"
                             description="Free plan of the API service is suitable for small projects and cheaper than any API provider."
                             icon="https://img.icons8.com/ios/50/374151/expensive-2--v1.png"/>
                <FeatureCard title="Secure"
                             description=" Our tech team has spent sufficient time designing secure API with HTTPS, TLS enabled."
                             icon="https://img.icons8.com/ios/50/374151/keyhole-shield.png"/>
                <FeatureCard title="Fast"
                             description="Our Web Servers are configured to deliver response within seconds for large through puts of your services."
                             icon="https://img.icons8.com/ios/50/374151/quick-mode-on.png"/>
                <FeatureCard title="Large API Sets"
                             description=" We have covered all the major API that are needed for any web services. 20+ APIs and New API adding soon."
                             icon="https://img.icons8.com/ios/50/374151/api-settings.png"/>
                <FeatureCard title="SDKs"
                             description=" SDK for almost every popular programming language like Python, PHP, Javascript. (Coming Soon)"
                             icon="https://img.icons8.com/ios/50/374151/code.png"/>

            </dl>
        </div>
    </div>
</section>


