---
import Logo from "../components/Logo.astro";
---
<div class="navbar bg-black text-white py-4 lg:px-36">
  <div class="navbar-start">
    <div class="dropdown">
      <label tabindex="0" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
      </label>
      <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
        <li><a href="#functions">Functions</a></li>
        <li><a href="#features">Features</a></li>
        <li><a href="https://docs.oyyi.xyz">Documentation</a></li>
        <li><a href="https://dashboard.oyyi.xyz">Dashboard</a></li>
      </ul>
    </div>
    <a class="btn btn-ghost " href="/">
      <Logo/>
    </a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li><a href="#functions">Functions</a></li>
      <li><a href="#features">Features</a></li>
      <li><a href="https://docs.oyyi.xyz">Documentation</a></li>
      <li><a href="https://dashboard.oyyi.xyz">Dashboard</a></li>
    </ul>
  </div>
  <div class="navbar-end">
    <a href="https://dashboard.oyyi.xyz/login" class="btn btn-ghost rounded-[0]">Login</a>
    <a href="https://dashboard.oyyi.xyz/register" class="text-white bg-gradient-to-br from-green-400 to-blue-600 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Get Started</a>
  </div>
</div>