---
import Logo from "../components/Logo.astro";
---
<header class="">
<div class="navbar font-body bg-transparent w-full text-black py-4 lg:px-36 text-center flex z-50 fixed top-0 ">
  <div class="navbar-start">
    <div class="dropdown">
      <label tabindex="0" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
      </label>
      <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52 ">
        <li><a href="#functions">Functions</a></li>
        <li><a href="#features">Features</a></li>
        <li><a href="https://docs.oyyi.xyz">Documentation</a></li>
        <li><a href="https://dashboard.oyyi.xyz">Dashboard</a></li>
      </ul>
    </div>
    <a class="btn btn-ghost px-4 " href="/">
      <Logo/>
    </a>
  </div>
  <div class="navbar-center hidden py -0 static bg-transparent  lg:flex ">
    <ul class="menu menu-horizontal text-md flex font-extrabold  ">
      <li class="text-[#637381] hover:text-[#3E7DFF]"><a href="#functions">Functions</a></li>
      <li class="text-[#637381] hover:text-[#3E7DFF]"><a href="#features">Features</a></li>
      <li class="text-[#637381] hover:text-[#3E7DFF]"><a href="https://docs.oyyi.xyz">Documentation</a></li>
      <li class="text-[#637381] hover:text-[#3E7DFF]"><a href="https://dashboard.oyyi.xyz">Dashboard</a></li>
    </ul>
  </div>
  <div class="navbar-end gap-2 ">
    <a href="https://dashboard.oyyi.xyz/login" class="inline-block rounded-full border-2 font-body font-bold border-[#637381] px-8 pb-[6px] pt-2  uppercase leading-normal text-[#637381] transition duration-150 ease-in-out hover:border-[#3E7DFF] hover:bg-[#3E7DFF] hover:text-white focus:border-primary-600 focus:text-primary-600 focus:outline-none focus:ring-0 active:border-primary-700 active:text-primary-700 dark:hover:bg-neutral-100 dark:hover:bg-opacity-10 ">Login</a>
    <a href="https://dashboard.oyyi.xyz/register" class="text-[#3E7DFF] font-extrabold underline">REGISTER</a>
  </div>
</div>
</header>