<section class="bg-white dark:bg-zinc-900 py-24 sm:py-32" id="customers">
    <div class="mx-auto max-w-2xl lg:text-center">
        <h2 class="text-base font-semibold leading-7 text-indigo-600">Customers</h2>
        <p class="mt-2 text-3xl font-bold tracking-tight sm:text-4xl">Trusted By </p>
    </div>
    <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-4xl">
        <div class="flex justify-center gap-20 flex-wrap items-center">
            <a href="https://dabfile.com" target="_blank"><img class="w-16 grayscale-[80] hover:grayscale-0" src="/images/dabfile.png" alt="dabfile logo"></a>
            <a href="https://lwook.me" target="_blank"><img class="w-16 grayscale-[80] hover:grayscale-0" src="/images/lwook.png" alt="lwook logo"></a>
            <a href="https://www.rajeevclasses.com" target="_blank"><img class="w-16 self-center grayscale-[80] hover:grayscale-0" src="/images/rclogo.png" alt="rclogo logo"></a>
            <a href="https://suip.me" target="_blank"><img class="w-16 grayscale-[80] hover:grayscale-0" src="/images/logosuipme.png" alt="suip logo"></a>
            <a href="https://meefic.com" target="_blank"><img class="w-16 grayscale-[80] hover:grayscale-0" src="/images/meeefic-logo.png" alt="meefic logo"></a>
        </div>
    </div>
</section>

