<section class="bg-black border-top-1 py-48 flex flex-col justify-between" id="pricing">
    <div class="title-wrapper mb-36 text-center">
        <h2 class="tracking-tight text-[#2A74DC] sm:text-4xl mt-2 mb-2 leading-none text-3xl font-bold">Pricing</h2>
        <h3 class="text-2xl text-white">Transparent Pricing for every work cases</h3>
    </div>
    <div class="bg-black dark:bg-gray-900">
        <div class="container px-6 py-8 mx-auto">
            <div class="flex flex-col items-center justify-center space-y-8 lg:-mx-4 lg:flex-row lg:items-stretch lg:space-y-0">
                <div class="flex flex-col w-full max-w-sm p-8 space-y-8 text-center  border-2 border-gray-200 rounded-lg lg:mx-4 dark:bg-gray-900 dark:border-gray-700 shadow-[0px_0px_20px_4px_#132DA0] bg-[#061404]">
                    <div class="flex-shrink-0">
                        <h2 class="inline-flex items-center justify-center px-2 font-semibold tracking-tight uppercase rounded-lg bg-gray-50 text-[#132DA0] dark:bg-gray-700 ">
                            Casual
                        </h2>
                    </div>

                    <div class="flex-shrink-0">
                    <span class="pt-2 text-3xl font-bold  text-[#132DA0] uppercase dark:text-gray-100">
                        Free
                    </span>
                    </div>

                    <ul class="flex-1 space-y-4">
                        <li class="text-white dark:text-gray-400">
                            Api limits of <strong>10</strong> requests/minute
                        </li>

                        <li class="text-white dark:text-gray-400">
                            Storage space: <strong>1000MB</strong>
                        </li>

                        <li class="text-white dark:text-gray-400">
                            <strong>1</strong> Free Static Website Hosting
                        </li>
                        <li class="text-white dark:text-gray-400">
                            <strong>1</strong> Queue job worker
                        </li>
                    </ul>

                    <a role="button" href="dashboard.oyyi.xyz/login" class="px-10 py-5 btn-outline text-[#2A74DC] hover:bg-[#2A74DC] rounded-lg border-2">
                     Start Free
                    </a>
                </div>

                <div class="flex flex-col w-full max-w-sm p-8 space-y-8 text-center border-2 border-gray-200 rounded-lg lg:mx-4 dark:bg-gray-900 dark:border-gray-700 shadow-[0px_0px_20px_4px_#132DA0] bg-[#061404]">
                    <div class="flex-shrink-0">
                        <h2 class="inline-flex items-center justify-center px-2 font-semibold tracking-tight text-[#132DA0] uppercase rounded-lg bg-gray-50 dark:bg-gray-700">
                            Professional
                        </h2>
                    </div>

                    <div class="flex-shrink-0">
                    <span class="pt-2 text-3xl font-bold text-[#132DA0] uppercase dark:text-gray-100">
                        $20.00
                    </span>

                        <span class="text-[#132DA0] dark:text-gray-400">/Month
                    </span>
                    </div>

                    <ul class="flex-1 space-y-4">
                        <li class="text-white dark:text-gray-400">
                            Api limits of <strong>40</strong> requests/minute
                        </li>

                        <li class="text-white dark:text-gray-400">
                            Storage space: <strong>5 GB</strong>
                        </li>

                        <li class="text-white dark:text-gray-400">
                            <strong>3</strong> Free Static Website Hosting
                        </li>

                        <li class="text-white dark:text-gray-400">
                            <strong>4</strong> Queue job worker
                        </li>
                        <li class="text-white dark:text-gray-400">
                            <strong>Custom Domain </strong>for file serving
                        </li>
                    </ul>

                    <a role="button" href="dashboard.oyyi.xyz/billing" class="px-10 py-5 btn-outline text-[#2A74DC] hover:bg-[#2A74DC] rounded-lg  border-2">
                        Choose This Plan
                    </a>
                </div>

                <div class="flex flex-col w-full max-w-sm p-8 space-y-8 text-center border-2 border-gray-200 rounded-lg lg:mx-4 dark:bg-gray-900 dark:border-gray-700 shadow-[0px_0px_20px_4px_#132DA0] bg-[#061404]">
                    <div class="flex-shrink-0">
                        <h2 class="inline-flex items-center justify-center px-2 font-semibold tracking-tight text-[#132DA0] uppercase rounded-lg bg-gray-50 dark:bg-gray-700">
                            Expert
                        </h2>
                    </div>

                    <div class="flex-shrink-0">
                    <span class="pt-2 text-3xl font-bold text-[#132DA0] uppercase dark:text-gray-100">
                        $__________
                    </span>

                        <span class="text-[#132DA0] dark:text-gray-400">
                        /month
                    </span>
                    </div>

                    <ul class="flex-1 space-y-4">
                        <li class="text-white dark:text-gray-400">
                            Unlimited projects
                        </li>

                        <li class="text-white dark:text-gray-400">
                            Unlimited collaborators
                        </li>

                        <li class="text-white dark:text-gray-400">
                            Unlimited storage
                        </li>

                        <li class="text-white dark:text-gray-400">
                            Real-time collaborations
                        </li>

                        <li class="text-white dark:text-gray-400">
                            24x7 Support
                        </li>
                    </ul>

                    <a role="button" href="#" class="px-10 py-5 btn-outline text-[#2A74DC] hover:bg-[#2A74DC] rounded-lg border-2">
                        Contact Us
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
 <div class="w-full"> 
        <svg class="absolute z-10" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#000000" fill-opacity="1" d="M0,128L60,133.3C120,139,240,149,360,133.3C480,117,600,75,720,69.3C840,64,960,96,1080,122.7C1200,149,1320,171,1380,181.3L1440,192L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path></svg>
    </div>