name: Build Docker Image and Push
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [ 18.x ]
    steps:
      - uses: actions/checkout@v3
      - name: Run node test
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
      - run: npm ci
      - run: npm run build --if-present
      - uses: actions/checkout@v3
      - name: Log in to Docker Hub
        uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
        with:
          registry: ${{ secrets.REGISTRY }}
          username: ${{ secrets.DIGI_DOCKER_API }}
          password: ${{ secrets.DIGI_DOCKER_API }}
      - name: Build the Docker image
        run: docker build . --tag oyyi-frontend
      - name: Docker tagging image
        run: docker tag oyyi-frontend ${{ secrets.REGISTRY }}/oyyi/oyyi-frontend
      - name: pushing to repo
        run: docker push ${{ secrets.REGISTRY }}/oyyi/oyyi-frontend
      - uses: actions/checkout@master
      - name: Push latest docker compose file and update
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSHKEY}}
          source: "docker-compose.yml"
          target: "/var/www/oyyi/frontend/"
          overwrite: true
      - name: Run command docker compose
        uses: fifsky/ssh-action@master
        with:
          command: cd /var/www/oyyi/frontend && chown root:root docker-compose.yml && docker-compose up -d
          host: ${{ secrets.HOST }}
          user: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSHKEY}}


